.transaction-container{
    display:flex;
    flex-direction: column;
  height: 100vh;
  background-color: #f7f8fc;
  flex-grow: 1;
}
.mycolReverse{
    flex-direction: column-reverse;
}
.transaction-card{
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    width:75vw;
    margin:10px;
    padding:10px;
    border-radius:10px;
    background-color: white;
    display:flex;
    justify-content: space-between;
}
.monthYearStyle{
    font-size:20px;
    margin:0px 10px;
}
.totalTaskerEarnStyle{
    color:#1ab217;
}
.commissionEarnStyle{
    color:#feb36f;
}
.totalTasker{
    color:pink;
}
.totalTaskerEarnStyle, .commissionEarnStyle, .totalTasker{
    font-size:20px;
}
.grayText{
    color:gray;
    font-size:10px;
}
.tripleDot{
    height:30px;
    width: auto;
}
