.body{
  padding: 26px 27px;
  flex: 0.8;
  min-height: 1024px;
  overflow-y: overlay;
  max-width: 1440px;
  text-align: left;
  font: normal normal normal 12px/16px Mulish;
  letter-spacing: 0px;
  font-size: 16px;
  background: #f7f8fc 0% 0% no-repeat padding-box;
  opacity: 1;
}

.card_body {
  
  border: 2px solid #E4E5EE;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    opacity: 1;
  }
  
  .card_body1 {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: flex;
    height: 93px;
    box-shadow: 0px 0px 10px #0000001a;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .inner_card {
    height: 250px;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding: 0px 0px 0px 37px;
  }
  
  .inner_card > hr {
    width: 50%;
  }
  
  .header_table {
    display: flex;
    justify-content: space-between;
  }
  
  .header_left {
    flex: 0.15 1;
    margin-top: 30px;
    color: #673695;
    display: flex;
    font-size: xx-large;
  }
  
  .header_right1 {
    flex: 0.15;
    margin-top: 15px;
    display: flex;
    height: 50px;
    width: 50px;
    float: right;
  }
  
  .buttons1 {
    display: flex;
  }
  
  .small_card1 {
    min-height: 139px;
    min-width: 113px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000026;
    border: 0.5px solid #00000033;
    border-radius: 2px;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    margin-top: 30px;
    margin-left: 15px;
  }
  
  .name {
    line-height: 00.1em;
  }
  
  .ro {
    display: flex;
    justify-content: center;
  }
  
  .button_row {
    text-align: center;
    padding: 20px;
    display: flex;
  }
  .button {
    background: #2196f3 0% 0% no-repeat padding-box;
    box-shadow: 6px 4px 34px #00000040;
    border-radius: 12px;
    color: #ffffff;
    width: 152px;
    height: 41px;
    border: none;
    font-size: 16px;
  }
  
  .button_option {
    background: #ff9900 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 0.4;
    color: #ffffff;
    width: 135px;
    height: 40px;
    border: none;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .support {
    display: flex;
    justify-content: flex-end;
  }
  .loadmore {
    text-align: center;
  }
  .loadmoreBtn{
    background-color: #2196F3;
    border-radius: 10px;
    border:none;
    outline:none;
    padding:15px 30px;
    color: white;
    font-weight: bold;
  }
  .loadmoreBtn:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);;
  }
  .loadmoreBtn:focus{
    outline:none;
  }
  
  .col-2 {
    flex: 0.2;
    text-align: center;
    min-width: 80px;
    line-height: 00.1em;
  }

  .imageHover:hover{
      cursor: pointer;
  }
  
  .homeCardCount{
    font-weight: bold; 
    font-size: xxx-large;
  }

  .homeCardName{
    font-size:larger;
  }
  .main_table{
    margin:16px 0px;
  }

  .myCol{
    display:flex;
    flex-direction: column;

  }

  .myProfileName{
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: larger;
  }

  .myAdded,.myOnboarded,.myRegistered{
    height: 50px;
    border-radius: 30px;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .myAdded{
    background-color: #FFD699;
  }
  .myOnboarded{
    background-color: #D0F1EB;
  }
  .myRegistered{
    background-color: #F9E1E5;
  }
  .myJobRole{
    color:gray;
    font-size: small;
  }
  .myJobRoleValue{
    color:black;
    font-weight: bold;
  }
  .homeCityStyle{
    color:darkgray;
  }
  .homePinStyle{
    color:darkgray;
    font-size: smaller;
  }
  .myStateStyle{
    font-weight: bold;
    margin-bottom: 10px;
  }