.my-profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #f7f8fc;
}
.myProfileItem-1,
.myProfileItem-2 {
  width: 73vw;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}
.profileAnimeImageSize {
    height: 200px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mycol {
  flex-direction: column;
  margin: 5px;
}
.myrow {
  display: flex;
  flex-direction: row;
}
.profileInputContainer {
  margin: 20px;
}
.profile-input-label {
  display: block;
}
.m5 {
  margin: 5px;
}
.myProfileItem-1 {
  margin-bottom: 30px;
  display:flex;
  justify-content: space-around;
}
.categoryStyle {
  width: 68vw;
    text-align: left;
    color: #B07DFF;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
}
.helloText {
  color: #7302ea;
  font-weight: bold;
  margin: 24px;
  font-size: x-large;
}

.myProfileItem-2{
  display:flex;
  justify-content: space-around;
}
.p1-iField{
  height: 40px;
  width: 20vw;
  outline: none;
  padding: 5px;
  font-size: 10px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  background-color: #f7f8fc;
  margin-bottom: 3px;
}
.brandLogoImg{
  height:100px;
  margin: 0px;
}
.brandBorder{
  border:2px dashed black;
  border-radius: 20px;
  height:120px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.brandImageContainer{
  height:136px;
}
.brandChooseBtnStyle{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  background-color:#f7f8fc;
  border-radius: 20px;
  outline:none;
  border:none;
  height:50px;
  width:150px
}
.brandChooseBtnStyle:focus{
  outline:none;
}
.BrandLogoBtnContainer{
  height: 100px;
  width: 26vw;
  outline: none;
  padding: 5px;
  font-size: 10px;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  background-color: #f7f8fc;
  margin-bottom: 3px;
  display:flex;
  align-items: center;
  justify-content: space-around;
}